html {
	margin:1em;
}
.container {
	padding: 1em;
	border:1px dotted #ccc;
}
.form-row .elem {
	float: left;
	padding:.5em;
}
.form-row select,
.form-row input {
	margin:.5em;
	padding:.3em;
}
.submit-row {
	text-align: right;
}
.rules {
	border: 1px solid #aaa;
	background: #ccc;
	padding:5px;
}
.error {
    border:1px dotted gray;
}